/target/classes/com/ironhack/battlesimulator/Attacker.class
/target/classes/com/ironhack/battlesimulator/Character.class
/target/classes/com/ironhack/battlesimulator/Main.class
/target/classes/com/ironhack/battlesimulator/Party.class
/target/test-classes/com/ironhack/battlesimulator/PartyTest.class
/target/classes/com/ironhack/battlesimulator/Warrior.class
/target/classes/com/ironhack/battlesimulator/Wizard.class
